.card-container {
  margin: 20px auto;
  padding: 20px 0;
  max-width: 50%;
  background-color: rgb(154, 219, 154);
}

.card-section {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.card-section img {
  height: 70px;
  width: 70px;
}