.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  bottom: 0;
}

.nav-list img{
  margin: 0 10px; 
  padding: 5px;
  border-radius: 15px;
  border: solid 2px black;
  background-color: lightgreen;
}