.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: #060b26;
  height: 10vh;
}
