.App {
  text-align: center;
}

.displayGround {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 10vh;
  grid-template-columns: 80px 1fr;
  grid-template-areas: "side main"
                        "bar bar";
}