.App {
  text-align: center;
}

.displayGround {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 5vh;
  grid-template-columns:  1fr;
  grid-template-areas: "main"
                        "bar";
}

.sidebarActive {
  grid-template-columns: 10vw 1fr;
  grid-template-areas: "side main"
                        "bar bar";
}