.App {
  text-align: center;
}

.displayGround {
  display: grid;
  height: 100vh;
  grid-template:
    1fr
    49px
    / 1fr;
  grid-template-areas:
    "main"
    "bar";
}

.sidebarActive {
  grid-template-columns: minmax(35px, 10vw) 1fr; /* TODO minmax */
  grid-template-areas:
    "side main"
    "bar bar";
}
